//====================================== color variables ======================================



$black : #000;
$white: #fff; 
$night: #272829;
$trash: #61677A;
$sad: #D8D9DA;
$darkness: #181818;
$fall: #ffbf00;
$moon: #A7ADAD;
$astra: #F5F5F5;
$money:#1F8A70;
$ocean: #0081C9;
$sky: #82AAE3;
$candy: #FF597B;
$strawberry: #900C3F;
$fiap: #df143c;
$pastel: #EADBC8;
$pastel-light: #f0ebe4;
$pastel-ultra-light: #FFFAF4;

//====================================== transitions ======================================

$transition-default: .6s ease-in-out;
$transition-fast: .3s ease-in-out;
$transition-slow: 1s ease-in-out;

// ====================================== width ======================================

$width-35: 35%;
$width-50: 50%;
$width-75: 75%;
$width-100: 100%;

//====================================== radius ======================================

$radius-4-px: 4px;
$radius-8-px: 8px;
$radius-12-px: 12px;
$radius-20-px: 20px;
$radius-50-percent: 50%;

//====================================== font size ======================================

$fs-default: 16px;
$fs-minus: 14px;
$fs-high: 22px;
$fs-ultra: 34px;
$fs-hiper: 56px;

//====================================== font style ======================================

$robot-font: 'Orbitron', sans-serif;






